/** ADD YOUR AWESOME CODES HERE **/
/*
@media only screen and (max-width: 1200px) {
    .navbar-brand span{
        display: none;
    }
    .navbar-brand img{
        width: 70px;
        height: auto;
    }
    .site_information .join_bt{
        display: none;
    }
  }
  @media (max-width: 767px){
    .navbar-brand img {
        margin-top: -25px;
        top: 2rem;
        position: relative;
    }
  }
  */